@media only screen and (max-width : 1366px) 
{
    .menu 
    {
        margin-top: 30px;
        
        li 
        {
            p
            {
                font-size: 1.4vw;
            }
        }
    }
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 1199px) 
{
	header 
    {
        background: url(../images/bg.svg);
        background-size: 99.99%;
        
        .button 
        {
            width: 22vw;
            font-size: 1.5vw;
            bottom: 15px;
        }
        & ~ *
        {
            display: none;
        }
    }
    .header-bg
    {
        padding-top: 100px;
        
    }
    .video 
    {
        top: initial;
        bottom: 33.4%;
    }
    .menu 
    {
        li 
        { 
            margin: 0 2.5vw;
            p 
            {
                font-size: 2.2vw;
            }
        }
    }
    
}

/* Small Devices, Tablets */
@media only screen and (max-width : 991px) 
{
    .video 
    {
        bottom: 18.8vw;
    }
}

@media only screen and (max-width : 767px) 
{
	header 
    {
        background: transparent;
        .button 
        {
            width: 18vw;
            border-radius: 3px;
            bottom: 1vw;
            box-shadow: 0 0 0px 3px #ed7168;
            &:hover
            {
                box-shadow: 0 0 0px 3px #f9a67e;
            }
        }
        .menu 
        {
            display: none;
        }
        .header-bg 
        {
            padding-top: 0px;
        }
    }
	
}
@media only screen and (max-device-width : 640px) and (max-device-height : 360px)
{
    .video 
    {
        bottom: 20.8vw;
        transform: translateX(-45%);
    } 
}
@media only screen and (max-device-width : 360px) and (max-device-height : 640px)
{
    .video 
    {
        bottom: 20.8vw;
        transform: translateX(-48%);
    } 
    header 
    {
        .button 
        {
            font-size: 2.8vw;
            line-height: 1.8;
            padding-top: 3px;
            width: 22vw;
        }
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 379px) 
{
	
}   