//START FOOTER
footer
{
	background: #92bfc6;
	padding: 215px 0 95px;
	
	.container
	{
		width: 1300px;
	}
	p
	{
		color:#ffffff;
		font-size: 24px;
		max-width: 450px;
		display: inline-block;
		margin-top: 20px;
	}
	h4
	{
		color:  #455463;
		font-size: 36px;
		display: block;
		text-align: center;
		padding-bottom: 15px;
		border-bottom:2px solid #455463; 
	}
	form
	{
		background-color: #eff0c8;
		border: 10px solid #b2b2b2;
		outline: 10px solid #455463;
		max-width: 765px;
		width: 100%;
		display: inline-block;
		margin-left: 50px;
		vertical-align: top;
		padding: 40px 45px;
		
		.left-block
		{
			display: inline-block;
			width: 100%;
			max-width: 285px;
			
			input
			{
				&[type="text"],
				&[type="email"]
				{
					height: 50px;
					width: 100%;
					padding: 0 10px;
					background: #fff;
					border:none;
					margin-top: 20px;
				}
				&[type="submit"]
				{
					background: #455463;
					max-width: 255px;
					width: 100%;
					height: 50px;
					border:none;
					color:  #ffffff;
					font-size: 20px;
					margin-top: 20px;
					transition: opacity 0.5s;
					&:hover
					{
						opacity: 0.8;
					}
				}
			}
		}
		textarea
		{
			width: calc(100% - 290px - 25px);
			margin-left: 25px;
			height: 190px;
			background: #fff;
			border: none;
			vertical-align: top;
			margin-top: 20px;
			padding: 15px 10px 10px 15px;
		}
	}
    .soc
    {
        margin-top: 20px;
        li
        {
            display: inline-block;
            
            &:nth-of-type(2) 
            {
                width: calc(100% - 110px);
                text-align: center;
            }
            a:hover
            {
                img
                {
                    opacity: 0.8;
                }
            }
        }
        img
        {
            transition: opacity 0.5s;
            height: 50px;
            border-radius: 10px; 
        }
    }
}
//END FOOTER