@import "reset";
@import "header";
.samples
{
	-webkit-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	transform: rotate(2deg);
	position: relative;
	z-index: 10;
	&:after
	{
		content: '';
		background: url(../images/svipe.svg);
		background-repeat: repeat-x;
		width: 101%;
		position: absolute;
		bottom: -62px;
		background-size: 32px;
		height: 57px;
		margin-left: -5px;
	}	
}
div.title
{
	background: #f9a67e;
	border-top:2px dashed #fff;
	border-bottom:2px dashed #fff;
	box-shadow: 0 0 0 7px #f9a67e;
	
	margin-top: 40px;
	z-index: 10;
	h2.title
	{
		color:#ffffff;
		font-size: 72px;
		font-weight: 400;
		text-align: left;
		text-align: center;
		padding-bottom: 15px;
	}
	&.reviews
	{
		
		background: #92bfc6;
		box-shadow: 0 0 0 7px #92bfc6;
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		margin-top: 0;
	}
}
.reviews-block
{
	-webkit-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	transform: rotate(-2deg);
	z-index: 100;
    position: relative;
	&:before
	{
		content: '';
		background: url(../images/svipe.svg);
		background-repeat: repeat-x;
		width: 101%;
		position: absolute;
		top: -62px;
		background-size: 32px;
		height: 57px;
		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
		margin-left: 3px;
	}
	&:after
	{
		content: '';
		background: url(../images/svipe.svg);
		background-repeat: repeat-x;
		width: 101%;
		position: absolute;
		bottom: -62px;
		background-size: 32px;
		height: 57px;
		margin-left: -5px;
	}
}
.reviews-content
{
	
	padding: 40px 0;
	border-top:2px dashed #594127;
	border-bottom:2px dashed #594127;
	background: #f0f1ca;
	margin-top: 5px;
	outline: 5px solid #f0f1ca;
	
}
.slider-container 
{
	background-color: #95dbde;
	margin-top: -26px;
	position: relative;
	
	.container
	{
		width: 1305px;
	}
	.girl
	{
		width: 270px;
		left: 18%;
	}
	.boy
	{
		width: 360px;
		left: 34%;
	}
	.boy,
	.girl
	{
		position: absolute;
		bottom: 0;
	}
}
.slider
{
	padding-top: 100px;
	.items
	{
		position: relative;
		min-height: 860px;
		padding: 95px 0 10px;
		.item
		{
			display: inline-block;
			vertical-align: top;
			position: relative;
			width: calc(100% / 3.05);
			text-align: center;
			div
			{
				display: table;
				margin: 0 auto;
				z-index: 10;
				position: relative;
				background-size: cover !important;
			}
			&:nth-of-type(1),
			&:nth-of-type(3)
			{
				div
				{
					background-color:#455463;
					background: #f3f4cb;
					border:10px solid #fff;
					outline: 15px solid #455463;
					width: 331px;
					height: 258px;
				}
			}
			&:nth-of-type(2)
			{
				div
				{
					border-radius: 50%;
					background-color:#f3f4cb;
					width: 321px;
					height: 321px;
					border:10px solid #fff;
					box-shadow: 0 0 0 15px #ed7168;
					margin-top: 20px;
					
					
				}
				&:before
				{
					margin-top: -8px;
				}
				&:after
				{
					margin-top: -6px;
				}
			}
			&:nth-of-type(3)
			{
				div
				{
					width: 282px;
					height: 214px;
					
				}
			}
			&:nth-of-type(4)
			{
				float: right;
				margin-right: 8%;
                
				div
				{
					background-color:#f3f4cb;
					width: 289px;
					height: 225px;
					border:10px solid #fff;
					outline: 15px solid #f3f4cb;
					
				}
			}
			&:before
			{
				content: '';
				position: absolute;
				width: 30px;
				height: 30px;
				border-radius: 50%;
				border: 3px solid #0F4148;
				display: table;
				margin: -30px auto 0;
				left: 0;
				right: 0;
				z-index: 0;
			}
			&:after
			{
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				display: table;
				margin: -28px auto 0;
				background: #455463;
				border-radius: 50%;
				width: 10px;
				height: 10px;
				top: 0;
			}
		}
	}
}
.reviews-block-2
{
	background: #ed7168 url('../images/crib.png')no-repeat;
	padding-top: 100px;
	background-position: center bottom;
	padding-bottom: 70px;
	position: relative;
	svg
	{
		position: absolute;
		right: 50px;
		bottom: 0;
		padding: 25px 25px 0;
	}
	
	.animation
	{
		
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
		-moz-animation-name: animation;
		-moz-animation-duration: 20s;
		-webkit-animation-name: animation;
		-webkit-animation-duration: 20s;
		-moz-animation-timing-function: linear;
		-moz-animation-iteration-count: infinite;
		-moz-animation-direction: normal;
		-moz-animation-delay: 0;
		-moz-animation-play-state: running;
		-moz-animation-fill-mode: forwards;
		-webkit-animation-timing-function: linear;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-direction: normal;
		-webkit-animation-delay: 0;
		-webkit-animation-play-state: running;
		-webkit-animation-fill-mode: forwards;
		-moz-transform-origin: 500px 500px;
		-webkit-transform-origin: 50%;
		-ms-transform-origin:50%;
		-o-transform-origin:50%;
		transform-origin: 409px 409px;
		
	}
	
	@-moz-keyframes animation {
		0% 
		{
			-moz-transform: rotate(0deg);
			-webkit-transform: rotate(0deg);
		}
		100% 
		{
			-moz-transform: rotate(360deg);
			-webkit-transform: rotate(360deg);
		}
	}
	@-webkit-keyframes animation{
		0% 
		{
			-moz-transform: rotate(0deg);
			-webkit-transform: rotate(0deg);
		}
		100% 
		{
			-moz-transform: rotate(360deg);
			-webkit-transform: rotate(360deg);
		}
		
	}
	@keyframes animation {
		0% 
		{
			-moz-transform: rotate(0deg);
			-webkit-transform: rotate(0deg);
		}
		100% 
		{
			-moz-transform: rotate(360deg);
			-webkit-transform: rotate(360deg);
		}
	}
	& + .reviews-block
	{
		-webkit-transform: rotate(2deg);
		-ms-transform: rotate(2deg);
		-o-transform: rotate(2deg);
		transform: rotate(2deg);
	
		&:before
		{
			margin-left: -5px;	
		}
	}
	.container
	{
		width: 1305px;
	}
	.reviews-slider
	{
		.items
		{
			padding-top: 40px;
			.item
			{
			    display: inline-block;
				vertical-align: top;
				position: relative;
				width: calc(100% / 4.06);
				text-align: center;
				color: #fff;
				h4
				{
					font-size: 30px;
					margin-bottom: 15px;
				}
				p
				{
					font-size: 18px;
					max-width: 295px;
				}
				&:before
				{
					content: '';
					position: absolute;
					width: 30px;
					height: 30px;
					border-radius: 50%;
					border: 3px solid #0F4148;
					display: table;
					margin: -30px auto 0;
					left: 0;
					right: 0;
					z-index: 0;
				}
				&:after
				{
					content: '';
					position: absolute;
					left: 0;
					right: 0;
					display: table;
					margin: -28px auto 0;
					background: #455463;
					border-radius: 50%;
					width: 10px;
					height: 10px;
					top: 0;
				}
				.img
				{
					background-color: #455463;
					background: #f3f4cb;
					border: 10px solid #b2b2b2;
					outline: 15px solid #f3f4cb;
					width: 227px;
					height: 177px;
					display: table;
					margin: 0 auto;
					z-index: 10;
					position: relative;
					background-size: cover !important;
				    margin-bottom: 35px;
				}
				&:nth-of-type(2)
				{
					.img
					{
						outline: 15px solid #455463;
					}
				}
				&:nth-of-type(3)
				{
					.img
					{
						outline: 15px solid #00726c;
					}
				}
				&:nth-of-type(4)
				{
					.img
					{
						outline: 15px solid #fff;
					}
				}
			}
		}
		& + p
		{
			text-align: center;
			color: #fff;
			vertical-align: middle;
			font-size: 24px;
			margin-top: 60px;
			a
			{
				display: inline-block;
				vertical-align: middle;
				margin-left: 10px;
			}
		}
	}
}
.done
{
	background: #95dbde;
	padding: 75px 0 115px;
	& + .reviews-block
	{
		div.title.reviews
		{
			background: #fca67f;
			box-shadow: 0 0 0 7px #fca67f;
		}
	}
	.left-block
	{
		.block
		{
			&:first-of-type
			{
				&:before
				{
					-webkit-transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					-o-transform: rotate(45deg);
					transform: rotate(45deg);
					top: 260px;
					left: 265px;
				}
			}
			&:last-of-type
			{
				&:before
				{
					-webkit-transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					-o-transform: rotate(45deg);
					transform: rotate(45deg);
					bottom: 102px;
					left: 253px;
					width: 53%;
				}
			}
		}
	}
	.right-block
	{
		.block
		{
			&:first-of-type
			{
				&:before
				{
					-webkit-transform: rotate(-20deg);
					-ms-transform: rotate(-20deg);
					-o-transform: rotate(-20deg);
					transform: rotate(-20deg);
					top: 109px;
					right: 260px;
					width: 52%;
				}
			}
			&:last-of-type
			{
				&:before
				{
					-webkit-transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					-o-transform: rotate(45deg);
					transform: rotate(45deg);
					right: 228px;
					width: 83%;
					top: -20px;
				}
			}
		}
	}
	.left-block,
	.right-block
	{
		max-width: 310px;
		color: #fff;
		display: inline-block;
		
		.block
		{
			position: relative;
			&:first-of-type
			{
				margin-bottom: 30px;
			}
			&:before
			{
				content: '';
				width: 60%;
				height: 2px;
				background: #fff;
				position: absolute;
			}
		}
		
		h5
		{
			font-size: 26px;
			text-align: center;
			margin: 15px 0 10px;
		}
		img
		{
			width: 304px;
		}
		p
		{
			font-size: 18px;
		}
	}
	.center-block 
	{
		width: calc(100% - 630px);
		display: inline-block;
		vertical-align: bottom;
		img
		{
			width: 345px;
			display: table;
			margin: 0 auto;
		}
	}
}
.slick-dots 
{
	bottom: -55px !important; 
	li
	{
		margin:0 10px;
		width: 30px !important;
		height: 30px !important;
		&.slick-active 
		{
			button
			{
				&:before
				{
					background: #fff;
				}
			}
		}
		button
		{
			&:before
			{
				border:5px solid #fff;
				border-radius: 50%;
				opacity: 1 !important;
				width: 30px !important;
				height: 30px !important;
				content: '' !important;
				
			}
		}
	}
}
.slick-arrow
{
	width: 33px !important;
	height: 60px !important;
	&:before
	{
		content: '' !important;
		background: url(../images/arrow.svg) no-repeat;
		background-size: 100%;
		width: 33px !important;
		height: 60px !important;
		position: absolute;
		left: 0;
		top: 0;
	}
	&.slick-next
	{
		&:before
		{
			-webkit-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			-o-transform: rotate(180deg);
			transform: rotate(180deg);
		}
		right: -38px !important;
	}
	&.slick-prev
	{
		left: -38px !important;

	}
}
.internal-pages
{
    .samples 
    {
        -webkit-transform: rotate(2deg);
        -ms-transform: rotate(2deg);
        -o-transform: rotate(2deg);
        transform: rotate(-2deg);
        margin-top: 75px;
        padding-bottom: 68px;
        background: #f0f1ca;
        width: 101%;
        margin-left: -4px;
        
        &:after 
        {
            bottom: -58px;
            background-size: 34px;
            height: 59px;
        }
        div.title
        {
            background-color: #92bfc6; 
            box-shadow: 0 0 0 7px #92bfc6;
           
            &:before
            {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                border-bottom:2px dashed #4f3d27;
                bottom: 10px;
            }
        }  
    }
    .orders
    {
        background:#ed7168 url(../images/crib2.png)no-repeat;
        padding-top: 210px;
        background-position: center bottom;
        padding-bottom: 115px;
        p.result
        {
            color:  #ffffff;
            font-size: 48px;
            float: right;
        }
        .order
        {
            padding-left: 25px;
        }
        li
        {
            margin-bottom: 165px;
            .img
            {
                vertical-align: middle;
                margin-right: 100px;
                width: 278px;
                height: 216px;
                display: inline-block;
                background-size: cover;
            }
            &:nth-of-type(3n-2)
            {
                .img
                {
                    border-top:12px solid #efefef;
                    border-bottom:12px solid #efefef;
                    border-left:15px solid #efefef;
                    border-right:15px solid #efefef;
                    box-shadow: 0 0 0 25px #fcc603;
                }
            }
            &:nth-of-type(3n-1)
            {
                
                .img
                {
                    border-top:12px solid #efefef;
                    border-bottom:12px solid #efefef;
                    border-left:15px solid #efefef;
                    border-right:15px solid #efefef;
                    box-shadow: 0 0 0 25px #00736d;
                }
                
            }
            &:nth-of-type(3n)
            {
                margin-bottom: 65px;
                .img
                {
                    border-top:12px solid #b2b2b2;
                    border-bottom:12px solid #b2b2b2;
                    border-left:15px solid #b2b2b2;
                    border-right:15px solid #b2b2b2;
                    box-shadow: 0 0 0 25px #f3a083;
                }
            }
            .description
            {
                display: inline-block;
                width: calc(100% - 433px);
                vertical-align: middle;
            }
            p
            {
                max-width: 443px;
            }
            b
            {
                float: right;
            }
            p,
            b
            {
                color:  #ffffff;
                font-size: 36px;
                display: inline-block;
            }
        }
        & + .reviews-block
        {
            -webkit-transform: rotate(2deg);
            -ms-transform: rotate(2deg);
            -o-transform: rotate(2deg);
            transform: rotate(2deg);
            margin-left: -8px;
        }
    }
    .contact-details
    {
        background:#92bfc6 url(../images/girl_on_bad.svg)no-repeat;
        background-position: center left;
        background-size: 30vw;
        padding: 150px 0 ;
        
        form
        {
            text-align: center;
            input
            {
                &[type="text"],
                &[type="email"],
                &[type="tel"]
                {
                    border-radius: 5px;
                    background-color:  #ffffff;
                    max-width: 608px;
                    height: 60px;
                    width: 100%;
                    border:none;
                    font-size: 24px;
                    display: table;
                    margin: 0 auto 30px;
                    padding: 0 20px;
                }
                &[type="submit"]
                {
                    width: calc(100% / 2.05 - 15%);
                    display: inline-block;
                    border-radius: 5px;
                    background-color:  #ed7168;
                    border:none;
                    height: 60px;
                    color:  #ffffff;
                    font-size:36px;
                    
                    &:last-of-type
                    {
                        background-color:  #95dbde;
                        margin-left: 30px;
                    }
                }
            }
            label
            {
                display: block;
                color:  #ffffff;
                font-size: 24px;
                margin-bottom: 30px;
                margin-top: -10px;
            }
        }
        & + .reviews-block 
        {
            div.title.reviews 
            {
                background: #fca67f;
                box-shadow: 0 0 0 7px #fca67f;
            }
        }
    }
    .create-Case,
    .results .button
    {
        border-radius: 10px;
        background-color: #c8441c;
        width: 100%;
        max-width: 460px;
        height: 88px;
        border: 1px dashed #fff;
        font-size: 36px;
        text-align: center;
        line-height: 88px;
        box-shadow: 0 0 0 5px #c8441c;
        color: #fff;
        display: table;
        margin: 70px auto ;
    }
    div.catalog 
    {
	    background:#ed7168 url(../images/crib3.png);
        padding-top: 110px;
        background-position: center top;
        padding-bottom: 115px;
        .items
        {
            h3.title
            {
                font-size: 54px;
                color: #fff;
                text-align: center;
                margin: 0 0 50px;
            }
        }
        .item
        {
            display: inline-block;
            width: calc(100% / 3.05 - 14px);
            padding: 15px;
            margin-bottom: 100px;
            vertical-align: top;
            position: inherit;
            transition-duration: 0.3s;
            z-index: 100;
           
            .description
            {
                color: #fff;
                display: block;
                overflow: hidden;
                h5
                {
                    font-size: 18px;
                    margin: 20px 0;
                }
                p
                {
                    font-size: 14px;
                    line-height: 18px;
                }
                .price
                {
                    color:  #ffa183;
                    font-size: 24px;
                    display: inline-block;
                    text-align: left;
                    margin-right: 45px;
                    
                }
                .button
                {
                    border-radius: 10px;
                    background-color:  #f3a083;
                    width: 174px;
                    height: 43px;
                    line-height: 43px;
                    text-align: center;
                    display: inline-block;
                    color:  #ffffff;
                    font-size: 24px;
                    
                }
                div
                {
                    text-align: right;
                    margin: 20px 0 ;
                }
            }
            .img
            {
                vertical-align: middle;
                width: 100%;
                height: 257px;
                display: inline-block;
                background-size: cover;
            }
             &:nth-of-type(5n-4)
            {
                background: #fcc603;
                .img
                {
                    border-top:12px solid #efefef;
                    border-bottom:12px solid #efefef;
                    border-left:15px solid #efefef;
                    border-right:15px solid #efefef;
                    
                }
                .description 
                {
	                background: #fcc603;
                }
            }
            &:nth-of-type(3n-1)
            {
                margin: 0 25px 100px;
            }
             &:nth-of-type(5n-3)
            {
                background: #f3a083;
                
                .img
                {
                    border-top:12px solid #efefef;
                    border-bottom:12px solid #efefef;
                    border-left:15px solid #efefef;
                    border-right:15px solid #efefef;
                }
                .description 
                {
                    background: #f3a083;
                    div
                    {
                        .price
                        {
                            color: #00736d;
                        }
                        .button
                        {
                            background: #00736d;
                        }
                    }
                }
            }
            &:nth-of-type(5n-2)
            {
                background: #fff;
                .img
                {
                    border-top:12px solid #b2b2b2;
                    border-bottom:12px solid #b2b2b2;
                    border-left:15px solid #b2b2b2;
                    border-right:15px solid #b2b2b2;
                    
                }
                .description 
                {
                    background: #fff;
                    h5,
                    p
                    {
                        color: #00736d;
                    }
                    div
                    {
                        .price
                        {
                            color: #00736d;
                        }
                        .button
                        {
                            background: #00736d;
                        }
                    }
                }
            }
            &:nth-of-type(5n-1)
            {
                background: #00736d;
                .img
                {
                    border-top:12px solid #efefef;
                    border-bottom:12px solid #efefef;
                    border-left:15px solid #efefef;
                    border-right:15px solid #efefef;
                }
                .description 
                {
                     background: #00736d;
                }
            }
            &:nth-of-type(5n)
            {
                margin-bottom: 65px;
                background: #455463;
                .img
                {
                    border-top:12px solid #b2b2b2;
                    border-bottom:12px solid #b2b2b2;
                    border-left:15px solid #b2b2b2;
                    border-right:15px solid #b2b2b2;
                   
                }
                .description 
                {
                     background: #455463;
                }
            }    
        }
    }
    &.constructor
    {
        .samples
        {
            div.title 
            {
                background-color: #f9a67e;
                box-shadow: 0 0 0 7px #f9a67e;
            }
        }
        .steps
        {
            h3.title
            {
                color:  #ffffff;
                font-size: 48px;
                text-align: center;
                margin-bottom: 40px;
            }
            h4.title
            {
                color:  #ffffff;
                font-size: 36px;
                text-align: center;
                margin-bottom: 60px;
            }
            background: #92bfc6;
            .step
            {
                background: url(../images/clouds.png)no-repeat;
                padding-top:150px; 
                
                .cloud
                {
                    width: 100%;
                    height: 230px;
                    background: url(../images/cloud_white.svg)no-repeat;
                    position: relative;
                    margin-bottom: 30px;
                    background-position: bottom center;
                    overflow: hidden;
                    background-size: auto 100%;
                    
                    img
                    {
                        position: absolute;
                        height: 100%;
                        top: 60px;
                        left: 0;
                        right: 0;
                        display: table;
                        margin: 0px auto;
                    }
                }
                .input
                {
                    margin-bottom: 80px;
                    text-align: left;
                    padding-left: 30px;
                }
                .constructor-item
                {   
                    width: 100%;
                    display: inline-block;
                    text-align: center;
                }
                label
                {
                    color:  #ffffff;
                    font-size: 24px;
                }
            }
            .step-2,
            .step-4
            {
                padding-bottom: 100px;
                .the-cloth
                {
                    width: calc(100% / 2.05);
                    display: inline-block;
                    padding-left: 20px;
                    &:last-of-type
                    {
                        .img
                        {
                            box-shadow: 0 0 0 20px #ed7168;
                            position: relative;
                        }
                    }
                    div
                    {
                        display: inline-block;
                        vertical-align: top;
                        padding-top: 20px;
                        
                        h4
                        {
                            margin-top: 30px;
                            margin-bottom: 0;
                        }
                    }
                    p 
                    {
                        width: calc(100% - 235px);
                        display: inline-block;
                        padding: 0 20px 0 35px;
                        vertical-align: top;
                        color:  #ffffff;
                        font-size: 18px;
                        line-height: 1.2;
                    }
                }
                .img
                {
                    background-color:  #f3f4cb;
                    width: 225px;
                    height: 181px;
                    border:15px solid #b2b2b2;
                    box-shadow: 0 0 0 20px #00726c;
                    cursor: pointer;
                    position: relative;
                    &:hover
                    {
                        .hover
                        {
                            opacity: 1;
                            box-shadow: inset 0 0 0 150px rgba(0,0,0,0.6);

                            p
                            {
                                transform: scale(1);
                            }
                        }
                    }
                    img
                    {
                        width: 100%;
                    }
                    .hover
                    {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        top: 0;
                        box-shadow: inset 0 0 0 0px rgba(0,0,0,0.6);
                        display: -webkit-flex;
                        display: -moz-flex;
                        display: -ms-flex;
                        display: -o-flex;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        justify-content: center;
                        cursor: pointer;
                        opacity: 0;
                        transition: 1s;
                        padding: 0;

                        p
                        {
                            color:  #ffffff;
                            font-size: 30px;
                            line-height: 1.3;
                            transition: 0.5s;
                            transform: scale(0);
                            padding: 0 !important;
                            width: 100%;
                            text-align: center;
                        }
                    }
                    
                    img
                    {
                        width: 100%;
                    }
                }
                
            }
            .step-3
            {
                padding-bottom: 0 !important;
            }
            .step-3,
            .step-4
            {
                h4
                {
                    margin-bottom: 30px;
                    & + p
                    {
                        color:  #ffffff;
                        font-size: 18px;
                        margin-bottom: 60px;
                        line-height: 1.2;
                    }
                }
                padding-bottom: 100px;
                .items
                {
                    padding: 0 15px;
                    margin-top: 60px;
                }
                .item 
                {
                    width: calc(100% / 3 - 41px);
                    display: inline-block;
                    text-align: center;
                    margin:0 56px 56px 0;
                    vertical-align: top;
                    &:nth-of-type(6n-4)
                    {
                        .img
                        {
                            outline: 15px solid #f3a083;
                        }    
                    }
                    &:nth-of-type(6n-3)
                    {
                        .img
                        {
                            border: 10px solid #b2b2b2;
                            outline: 15px solid #00736d;
                        }
                    }
                    &:nth-of-type(6n-2)
                    {
                        .img
                        {
                            outline: 15px solid #00736d;
                        }
                    }
                    &:nth-of-type(6n-1)
                    {
                        .img
                        {
                            outline: 15px solid #455463;
                        }
                    }
                    &:nth-of-type(6n)
                    {
                        .img
                        {
                            outline: 15px solid #fff;
                        }
                    }
                    .img
                    {
                        border: 10px solid #efefef;
                        outline: 15px solid #fcc603;
                        position: relative;
                        overflow: hidden;
                        
                        &:hover
                        {
                            .hover
                            {
                                opacity: 1;
                                box-shadow: inset 0 0 0 150px rgba(0,0,0,0.6);
                                
                                p
                                {
                                    transform: scale(1);
                                }
                            }
                        }
                        img
                        {
                            width: 100%;
                        }
                        .hover
                        {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            top: 0;
                            box-shadow: inset 0 0 0 0px rgba(0,0,0,0.6);
                            display: -webkit-flex;
                            display: -moz-flex;
                            display: -ms-flex;
                            display: -o-flex;
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            justify-content: center;
                            cursor: pointer;
                            opacity: 0;
                            transition: 1s;
                            
                            p
                            {
                                color:  #ffffff;
                                font-size: 30px;
                                line-height: 1.3;
                                transition: 0.5s;
                                transform: scale(0);
                            }
                        }
                    }
                    .checkboxs-description 
                    {
                        margin-top: 35px;
                        text-align: left;
                        margin-left: -15px;
                        
                        label
                        {
                            color:  #ffffff;
                            font-size: 36px;
                        }
                        .checkbox
                        {
                            position: relative;
                            display: inline-block;
                            vertical-align: middle;
                            input
                            {
                                &[type="checkbox"]
                                {
                                    & + label
                                    {
                                        position: absolute;
                                    }
                                }
                            }
                            label
                            {
                                vertical-align: middle;
                                &:last-of-type
                                {
                                    padding-left: 30px;
                                    display: inline-block;
                                }
                            }
                        }
                        .input
                        {
                            margin-bottom: 15px;
                        }
                        .description
                        {
                            background: #455463 url(../images/question-sign.svg)no-repeat;
                            position: relative;
                            border-radius: 2px;
                            width: 18px;
                            height: 18px;
                            box-shadow: 0 0 0 2px #455463;
                            background-size: 80%;
                            background-position: center;
                            cursor: pointer;
                            display: inline-block;
                            vertical-align: top;
                            margin-top: 16px;
                            float: right;
                            margin-right: 25%;
                            
                            &:hover
                            {
                                p
                                {
                                    display: block;
                                }
                            }
                            p
                            {
                                position: absolute;
                                background: rgba(69,84,99, 1);
                                color: #fff;
                                border-radius: 5px;
                                padding: 5px 10px;
                                width: 170px;
                                min-width: 170px;
                                left: 30px;
                                top: -3px;
                                transform: translateY(-35%);
                                z-index: 110;
                                line-height: 1.4;
                                display: none;
                                
                                &:before
                                {
                                    content: '';
                                    position: absolute;
                                    border: 7px solid transparent;	
                                    border-right: 7px solid #455463;
                                    left: -14px;
                                    top: 48%;
                                    transform: translateY(-50%);
                                }
                            }
                        }
                    }
                    &:nth-of-type(3n)
                    {
                        margin-right: 0;
                    }
                }
            }
            .step-4
            {
                background: url(../images/girl_book.svg)no-repeat;
                background-size: 320px;
                background-position: 10vw 90%;
                .results
                {
                    margin-top: 60px;
                    h3
                    {
                        color:  #ffffff;
                        font-size: 40px;
                        text-align: center;
                        span
                        {
                            font-size: 48px;
                            margin-left: 15px;
                        }
                    }
                }
                .constructor-item
                {
                    max-width: 350px;
                    display: inline-block;
                    width: 100%;
                    vertical-align: top;
                    p
                    {
                        color:  #ffffff;
                        font-size: 30px;
                        line-height: 1.6;
                        span
                        {
                            font-size: 24px;
                            display: block;
                        }
                    }
                }
                .cloud
                {
                    width: 100%;
                    height: 230px;
                    background: url(../images/cloud_white.svg)no-repeat;
                    position: relative;
                    margin-bottom: 12px;
                    background-position: bottom center;
                    overflow: hidden;
                    background-size: auto 100%;
                    
                    img
                    {
                        position: absolute;
                        height: 100%;
                        top: 60px;
                        left: 0;
                        right: 0;
                        display: table;
                        margin: 0px auto;
                    }
                   
                }
                .cloth
                {
                    width: calc(100% - 355px);
                    display: inline-block;
                    vertical-align: top;
                    
                    .the-cloth
                    {
                        text-align: center;
                        
                        .img
                        {
                            cursor: default;
                        }
                        h5
                        {
                            color:  #ffffff;
                            font-size: 24px;
                            text-align: left;
                            margin: 0 auto; 
                            display: table;
                            line-height: 2;
                            margin-top: 40px;
                            span
                            {
                                display: block;
                                
                            }
                        }
                    }
                }
                .items
                {
                    text-align: center;
                    margin-top: 60px;
                    .img
                    {
                        box-shadow: none;
                        display: table;
                        margin: 0 auto;
                        border-color: #b2b2b2;
                        
                    }
                    .item
                    {
                        p
                        {
                            color:  #ffffff;
                            font-size: 30px;
                            margin-top: 30px;
                            text-align: left;
                            margin-left: 11%;
                        }
                    }
                }
            }    
            .no-my-model
            {
                display: table;
                margin: 0 auto;
                label
                {
                    font-size: 36px;
                }
            }
            & + .reviews-block
            {
                -webkit-transform: rotate(2deg);
                -ms-transform: rotate(2deg);
                -o-transform: rotate(2deg);
                transform: rotate(2deg);
                &:before
                {
                    margin-left: -6px;
                }
                div.title {
                    background: #f9a67e;
                    box-shadow: 0 0 0 7px #f9a67e;
                }
            }
        }
    }
}
.description-product
{
    .product
    {
        padding-left: 20px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: row; 
        .img
        {
            width: 468px;
            height: 363px;
            background-size: cover;
            border: 15px solid #fff;
            box-shadow: 0 0 0 20px #fcc603;
            display: inline-block;
        }
        .description
        {
            width: calc(100% - 493px);
            display: inline-block;
            vertical-align: top;
            padding:20px 0 0 50px;
            color:  #ffffff;
            font-size: 24px;
            position: relative;
       
            div
            {
                position: absolute;
                bottom: 0;
                left: 50px;
                right: 0;
                .price
                {
                    font-size: 46px;
                    display: inline-block;
                }
                a.button
                {
                    color:  #ffffff;
                    font-size: 30px;
                    border-radius: 10px;
                    background-color:  #95dbde;
                    width: 264px;
                    height: 51px;
                    text-align: center;
                    line-height: 51px;
                    display: inline-block;
                    float: right;
                }
            }
        }
    }
    .slider-product
    {
        margin-top: 155px;
        .item-slider
        {
            padding: 20px 35px;
            .img
            {
                width: 100%;
                height: 174px;
                background-size: cover;
                border:15px solid #fff;
                box-shadow: 0 0 0 20px #fcc603;
               
            }
        }
    }
    & + .reviews-block 
    {
        -webkit-transform: rotate(2deg);
        -ms-transform: rotate(2deg);
        -o-transform: rotate(2deg);
        transform: rotate(2deg);
    }
}
.reviews-of-tissue
{
    background: #92bfc6;
    padding: 120px 0 100px;
    .img
    {
        background-color: #f3f4cb;
        width: 380px;
        height: 302px;
        border: 15px solid #b2b2b2;
        background-size: cover;
        box-shadow: 0 0 0 20px #fff;
        display: inline-block;
        margin: 20px 0 0 20px;
        
    }
    .reviews-descript
    {
        display: inline-block;
        width: calc(100% - 405px);
        vertical-align: top;
        padding-left: 50px;
        color: #fff;
        
        h4
        {
            font-size: 30px;
        }
        p
        {
            font-size: 18px;
            margin-top: 35px;
            line-height: 1.2;
        }
    }
    .review
    {
        margin-bottom: 50px;
        
        &:nth-of-type(3n-1)
        {
            .img
            {
                box-shadow: 0 0 0 20px #00726c;
            }
        }
        &:nth-of-type(3n)
        {
            .img
            {
               box-shadow: 0 0 0 20px #ed7168; 
            }
            
        }
    }
    & + .reviews-block
    {
        div.title.reviews
        {
            background: #f9a67e;
            box-shadow: 0 0 0 7px #f9a67e; 
        }
        
    }
}
input
{
    
    &[type="radio"],
    &[type="checkbox"]
    {
        display: none;

        &:checked
        {
            & + label
            {
                &:before
                {
                    background: #f3a083;
                    border:2px solid #92bfc6;
                }
            }
        }
        & + label
        {
            margin-right: 10px;
            
            &:before
            {
                position: relative;
                display: inline-block;    
                content: '';
                width: 13px;
                height: 13px;
                border-radius: 50%;
                box-shadow: 0 0 0 2px #fff;
                border:2px solid transparent;
            }
        }
        &:disabled
        {
            & + label
            {
                &:before
                {
                    box-shadow: 0 0 0 2px #999;
                    background: #ccc;
                }
            }
        }
    }
    &[type="checkbox"]
    {
        & + label
        {
            &:before
            {
                border-radius: 2px;
                width: 18px;
                height: 18px;
            }
        }
        &:checked
        {
            & + label
            {
                &:before
                {
                    content: '';
                    background: url('../images/checked.svg')no-repeat;
                    background-size: cover;
                }
            }
            
        }
    }
}
.color
{
    margin-top: 20px;
    li
    {
        display: inline-block;
        
        input
        {
            &[type="radio"]
            {
                & + label
                {
                    &:before
                    {
                        border-radius: 4px;
                        width: 33px;
                        height: 33px;
                    }
                }
            }    
        }
        &.text
        {
            display: block;
            margin-bottom: 20px;
            p
            {
                color:  #fff;
                font-size: 30px;
            }
        }
        &.blue-1
        {
            input
            {
                &[type="radio"]
                {
                    & + label
                    {
                        &:before
                        {
                            background-color:  #0e89ca;
                            box-shadow: 0 0 0 4px #0e89ca; 
                        }
                    }
                }
            }
        }
        &.blue-2
        {
            input
            {
                &[type="radio"]
                {
                    & + label
                    {
                        &:before
                        {
                            background-color:  #080e5d;
                            box-shadow: 0 0 0 4px #080e5d; 
                        }
                    }
                }
            }
        }
        &.red
        {
            input
            {
                &[type="radio"]
                {
                    & + label
                    {
                        &:before
                        {
                            background-color:  #e40812;
                            box-shadow: 0 0 0 4px #e40812; 
                        }
                    }
                }
            }
        }
        &.yellow
        {
            input
            {
                &[type="radio"]
                {
                    & + label
                    {
                        &:before
                        {
                            background-color:  #fcc603;
                            box-shadow: 0 0 0 4px #fcc603; 
                        }
                    }
                }
            }
        }
        &.white
        {
            input
            {
                &[type="radio"]
                {
                    & + label
                    {
                        &:before
                        {
                            background-color:  #fff;
                            box-shadow: 0 0 0 4px #fff; 
                        }
                    }
                }
            }
        }
        
    }
}
label
{
    vertical-align: middle;
    cursor: pointer; 
}
@import "footer";
@import "media";

.modal
{
    .nav
    {
        li
        {
            width: calc(100% / 3);
            background: #00726c;
            text-align: center;
            &:nth-of-type(1)
            {
                background: #fcc603;
                border-radius: 5px 0 0 0;
            }
            &:nth-of-type(3)
            {
                background: #0e89ca;
                border-radius:0 5px 0 0;
            }
            &.active
            {
                background: transparent;
                a
                {
                    color: #ed7168;
                    
                }
            }
            a
            {
                display: block;
                color: #fff;
                font-size: 30px;
                text-transform: uppercase;
                padding: 10px 0px;
            }
            
        }
    }
}
.full-width
{
    width: 90%;
}
.cloth-modal
{
    .modal-content
    {
        background: #92bfc6 url(../images/clouds.png);
        background-size: 100%;
    }
    input
    {
        &[type="radio"]
        {
            &:checked
            {
                & + label
                {
                    &:before
                    {
                        background: url('../images/checked.svg')no-repeat;
                        background-size: cover;
                        border-color: transparent;
                    }
                }
            }
            & + label
            {
                position: absolute;
                bottom: 10px;
                right: 10px;
                &:before
                {
                    width: 20px;
                    height: 20px;
                    border-radius: 2px;
                }
            }
        }
    }
    .items
    {
        padding: 0 50px;
        margin: 60px 0;
    }
    
    .item
    {
        padding-top: 30px;
        width: calc(100% / 5 - 28px);
        display: inline-block;
        text-align: center;
        margin: 0 30px 0px 0;
        vertical-align: top;
        &:nth-of-type(6n-4)
        {
            .img
            {
                outline: 10px solid #f3a083;
            }
        }
        &:nth-of-type(6n-3)
        {
            .img
            {
                border: 5px solid #b2b2b2;
                outline: 10px solid #00736d;
            }
        }
        &:nth-of-type(5n)
        {
            margin-right: 0;
        }
        &:nth-of-type(6n-2)
        {
            .img
            {
                outline: 10px solid #00736d;
            }
        }
        &:nth-of-type(6n-1)
        {
            .img
            {
                outline: 10px solid #455463;
            }
        }
        &:nth-of-type(6n)
        {
            .img
            {
                outline: 10px solid #fff;
            }
        }
        .img
        {
            border: 5px solid #efefef;
            outline: 10px solid #fcc603;
            position: relative;
            overflow: hidden;
            &:hover
            {
                .hover
                {
                    opacity: 1;
                    box-shadow: inset 0 0 0 150px rgba(0, 0, 0, 0.6);
                    p
                    {
                        transform: scale(1);
                    }
                }
            }
            &.active
            {
                .hover
                {
                    opacity: 1;
                    box-shadow: inset 0 0 0 150px rgba(0, 0, 0, 0.6);
                    .button
                    {
                        transform: scale(1);

                        &:hover
                        {
                            background: #e04b40;
                        }
                    }
                    p
                    {
                        display: none;
                    }
                    &:hover
                    {
                        p
                        {
                            transform: scale(0);
                        }

                    }
                }
                
            }
            img
            {
                width: 100%;
            }
            .hover
            {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                top: 0;
                box-shadow: inset 0 0 0 0px rgba(0, 0, 0, 0.6);
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                cursor: pointer;
                opacity: 0;
                transition: 1s;
                
                
                p
                {
                    color: #fff;
                    font-size: 30px;
                    line-height: 1.3;
                    transition: 0.5s;
                    transform: scale(0);
                    
                }
                .button
                {
                    color: #fff;
                    background: #ed7168;
                    border: none;
                    width: 80%;
                    height: 25%;
                    font-size: 30px;
                    transition: 0.5s;
                    transform: scale(0);
                    border-radius: 5px;
                }
            }
        }
    }    
}

////START ZIPPER
//
//@import "zipper";
